@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
   font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  color: #333;
}

main {
  padding-top: 90px;
}

.about-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 40px 60px;
}

.mousikomi-container {
  width: 300px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: none;
}

.mousikomi-container.show {
  display: block;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.mousikomi {
  position: relative;
  overflow: hidden;
  height: 280px;
  width: 100%;
}

.mousikomi-back {
  background-image: url("../img/maturi.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  width: 300px;
  padding-top: 100%; /* ← 高さが幅の100%になる */
  max-width: 100%;
  -webkit-animation: gaming 1s linear infinite;
          animation: gaming 1s linear infinite;
}

@-webkit-keyframes gaming {
  0% {
    background-color: Magenta;
  }
  33% {
    background-color: yellow;
  }
  66% {
    background-color: Cyan;
  }
  100% {
    background-color: Magenta;
  }
}

@keyframes gaming {
  0% {
    background-color: Magenta;
  }
  33% {
    background-color: yellow;
  }
  66% {
    background-color: Cyan;
  }
  100% {
    background-color: Magenta;
  }
}
.mousikomi-text {
  position: absolute;
  top: 80px;
  left: 0;
  padding: 0;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
  -webkit-animation: move-once 4s linear infinite;
          animation: move-once 4s linear infinite;
}

@-webkit-keyframes move-once {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
}

@keyframes move-once {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
}
@-webkit-keyframes move-second {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
}
@keyframes move-second {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
}
.mousikomi-text2 {
  font-size: 20px;
  top: 20px;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.mousikomi-text3 {
  font-size: 24px;
  top: 140px;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.mousikomi-text4 {
  font-size: 16px;
  top: 60px;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

.mousikomi-text5 {
  font-size: 28px;
  top: 70px;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.mousikomi_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: 20px;
}

.mousikomi_link {
  font-size: 18px;
  font-weight: 700;
  color: red;
  background: #fff;
  padding: 12px;
  text-align: center;
  border: 2px solid;
  outline: none;
  border-radius: 30px;
  width: 240px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.mousikomi_link:hover {
  opacity: 0.6;
}

.link-container {
  width: 240px;
  max-width: 100%;
  margin: 16px auto 0;
}

.link-text {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
}
